<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="be.example.backend">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.google.code.ssm">
        <level value="DEBUG"/>
    </logger>

    <logger name="net.sf.ehcache">
        <level value="DEBUG"/>
    </logger>

    <!-- Enable lower layer debugging if needed -->
    <!--<logger name="net.rubyeye.xmemcached">-->
        <!--<level value="DEBUG"/>-->
    <!--</logger>-->
    <!--<logger name="net.spy.memcached">-->
        <!--<level value="DEBUG"/>-->
    <!--</logger>-->

    <root>
        <priority value="WARN"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>